Chamook.Tracker.v12.suo
Chamook.Tracker/bin/Debug/Chamook.Tracker.XML
Chamook.Tracker/bin/Debug/Chamook.Tracker.exe
Chamook.Tracker/bin/Debug/Chamook.Tracker.exe.config
Chamook.Tracker/bin/Debug/Chamook.Tracker.pdb
Chamook.Tracker/bin/Debug/FSharp.Core.dll
Chamook.Tracker/bin/Debug/FSharp.Core.xml
Chamook.Tracker/bin/Debug/HttpClient.dll
Chamook.Tracker/obj/Debug/Chamook.Tracker.exe
Chamook.Tracker/obj/Debug/Chamook.Tracker.fsproj.Chamook.Tracker.exe.config
Chamook.Tracker/obj/Debug/Chamook.Tracker.fsproj.FileListAbsolute.txt
Chamook.Tracker/obj/Debug/Chamook.Tracker.pdb
packages/Http.fs.1.5.1/Http.fs.1.5.1.nupkg
packages/Http.fs.1.5.1/lib/net40/HttpClient.dll
packages/repositories.config
